@charset "UTF-8";
.text-brown {
  color: #a55536;
}

.text-blue {
  color: #005ba0;
}

.text-light-blue {
  color: #0098b6;
}

.caption01 {
  font-size: 19px;
}

.caption01 p {
  font-size: 19px !important;
}

.caption02 {
  font-size: 15px;
}

.text-center {
  text-align: center !important;
  margin: 0 auto;
}

.text-center img {
  max-width: 100%;
}

header > div {
  padding: 40px 0;
  position: relative;
}

header > div .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

header > div .header .title a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header > div .header .title a img {
  width: 434px;
}

header > div .header button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 40px;
}

header > div .header button img {
  width: 100%;
}

#menu {
  width: 0;
  height: 420px;
  position: absolute;
  top: 120px;
  right: 0;
  color: transparent;
  z-index: 10;
  transition: All 0.5s ease;
  -webkit-transition: All 0.5s ease;
  -moz-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
  background-color: #eaf8fa;
  opacity: 0.9;
  overflow: hidden;
}

#menu > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 600px;
}

#menu a {
  padding: 10px;
  -webkit-transition: 0s;
  transition: 0s;
  text-align: end;
  font-size: 22px;
  color: transparent;
}

#menu img {
  -webkit-transition: 0s;
  transition: 0s;
  display: none;
}

#menu.open {
  width: 600px;
}

#menu.open a {
  color: #005ba0;
}

#menu.open a:hover {
  color: #003e6d;
}

#menu.open img {
  display: inline;
}

footer {
  width: 100%;
  min-height: 70px;
  height: 70px;
  background-color: #2c2b2c;
  z-index: 10;
}

footer > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 20px;
}

address {
  font-size: 16px;
  font-style: normal;
  color: white;
}

.sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sns a img {
  width: 36px;
}

.sns a + a {
  margin-left: 15px;
}

#메인 main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 500px;
  background-color: #2db5cc;
}

#메인 main > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

#메인 main > div div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#메인 main > div .book-cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#메인 main > div .book-cover img {
  max-width: 100%;
}

#메인 main > div .book-info {
  padding-top: 100px;
  text-align: right;
}

#메인 main > div .book-title {
  margin-bottom: 50px;
  color: white;
}

#메인 main > div .book-title strong {
  font-size: 36px;
}

#메인 main > div .book-title p {
  margin: 0;
  font-size: 50px;
  line-height: 1;
  letter-spacing: -2px;
}

#메인 main > div .book-desc p {
  font-size: 24px;
  letter-spacing: -1px;
}

#메인 section {
  padding: 90px 0;
}

#메인 section .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#메인 section .row + .row {
  margin-top: 62px;
}

#메인 section .block {
  width: 32%;
  font-size: 20px;
}

#메인 section .block a {
  display: block;
  color: #2c2b2c;
  font-weight: bold;
}

#메인 section .block a img {
  width: 100%;
}

#목차.main-content {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  padding-bottom: 20px;
}

#목차.main-content .bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #dde6f3;
}

#목차 main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

#목차 main .pdf {
  -webkit-box-flex: 3.5;
      -ms-flex: 3.5;
          flex: 3.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-right: 15px solid white;
  padding-right: 40px;
}

#목차 main .pdf .main-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  height: 100%;
}

#목차 main .pdf .main-image img {
  width: 100%;
  height: auto;
}

#목차 main .list {
  -webkit-box-flex: 6.5;
      -ms-flex: 6.5;
          flex: 6.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 24px;
  position: relative;
}

#목차 main .list .sub-content {
  position: relative;
  padding-bottom: 80px;
}

#목차 main .list .slick-arrow-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#목차 main .list .slick-arrow-buttons svg {
  fill: white;
}

#목차 main .list .slick-arrow-buttons button:not(:only-child).slick-next {
  margin-top: 20px;
}

#목차 main .list .slick-disabled {
  display: none !important;
}

#목차 main .list .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 696px;
  height: 100%;
  position: relative;
}

#목차 main .list .swiper-wrapper .slick-prev {
  display: none !important;
}

#목차 main .list .swiper-wrapper .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
  bottom: 26px;
}

#목차 main .list .swiper-wrapper .slick-dots li button {
  font-size: 0;
}

#목차 main .list .swiper-wrapper .slick-dots li button:before {
  content: "•";
  font-size: 30px;
  color: #005ba0;
  opacity: 0.25;
  padding: 0 5px;
}

#목차 main .list .swiper-wrapper .slick-dots li.slick-active button:before {
  opacity: 1;
}

#목차 main .list .swiper-wrapper .slick-list {
  width: 100%;
}

#목차 main .list .swiper-wrapper .chapter {
  margin-bottom: 14px;
  font-size: 32px;
  font-weight: 700;
  color: #005ba0;
  word-break: keep-all;
}

#목차 main .list .swiper-wrapper .content {
  margin-bottom: 10px;
}

#목차 main .list .swiper-wrapper .title {
  font-size: 18px;
}

#목차 main .list .swiper-wrapper .sub-title {
  font-size: 16px;
}

#목차 main .list .swiper-wrapper .badge {
  margin-right: 10px;
  padding: 0 5px 2px 4px;
  font-size: 14px;
  line-height: 1;
  background-color: #005ba0;
  color: white;
}

#목차 main .main-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 90px;
  font-size: 30px;
  font-weight: bold;
  color: white;
}

#목차 main .main-title .title-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#목차 main .main-title .title-content .arrow-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-left: 10px;
  padding-bottom: 5px;
}

#목차 main .sub-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

#상세 {
  /* 컨텐츠 문장 문단 스타일*/
}

#상세 .chapter-title {
  width: 100%;
  background-color: #005ba0;
  color: white;
}

#상세 .chapter-title > div {
  text-align: right;
}

#상세 .title {
  padding: 72px 0;
  font-size: 40px;
  position: relative;
  text-align: center;
  word-break: keep-all;
}

#상세 .title:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 200px;
  height: 10px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #e2ddd9;
}

#상세 .title-desc {
  margin: 70px 0;
  text-align: center;
}

#상세 .title-desc p {
  margin: 0;
  word-break: keep-all;
}

#상세 .title-desc p + p {
  margin-top: 8px;
}

#상세 .title-desc .caption02 {
  margin-top: 18px;
  word-break: keep-all;
}

#상세 .box-number {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  padding-top: 2px;
  background: #005ba0;
  color: white;
}

#상세 .image.image-full-width {
  text-align: center;
}

#상세 .image.image-full-width img {
  width: auto;
  height: auto;
  max-width: 100%;
}

#상세 .image.image-lg {
  text-align: center;
}

#상세 .image.image-lg img {
  width: auto;
  height: auto;
  max-width: 80%;
}

#상세 .image.image-md {
  text-align: center;
}

#상세 .image.image-md img {
  width: auto;
  height: auto;
  max-width: 50%;
}

#상세 .image.image-sm {
  text-align: center;
}

#상세 .image.image-sm img {
  width: auto;
  height: auto;
  max-width: 30%;
}

#상세 .layout-content > p {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 32px;
  text-align: justify;
}

#상세 .돋보기 {
  margin-top: 60px;
  width: 100%;
  background: #0098b6;
  text-align: center;
  color: white;
}

#상세 .돋보기타이틀 {
  margin: 60px 0 70px 0;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: #0098b6;
}

#상세 .돋보기설명 {
  position: relative;
  padding-top: 40px;
}

#상세 .돋보기설명 p {
  margin: 0;
  text-align: center;
}

#상세 .돋보기설명 .caption01 {
  margin-top: 8px;
}

#상세 .돋보기설명 .caption02 {
  margin-top: 18px;
}

#상세 .돋보기설명:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 100px;
  height: 1px;
  background: black;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#상세 .돋보기소제목 {
  margin: 40px 0 20px 0;
  color: #005ba0;
  font-weight: bold;
}

#상세 .article-footer {
  margin-top: 60px;
  width: 100%;
  height: 60px;
  position: relative;
}

#상세 .article-footer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 20px;
  height: 30px;
  color: #d3d3d4;
  font-size: 16px;
}

#상세 .article-footer a:hover {
  color: #b9b9bb;
}

#상세 .article-footer a.이전글 {
  left: 0px;
}

#상세 .article-footer a.다음글 {
  right: 0px;
}

#상세 .article-footer img {
  width: 20px;
  margin-bottom: 1px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  background-color: #ffffff;
  font-family: "KoPub Dotum", sans-serif;
  font-weight: normal;
  line-height: 1.6;
  letter-spacing: -0.6px;
  position: relative;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

button:focus {
  outline: none;
}

img {
  image-rendering: -moz-auto;
  image-rendering: -o-auto;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: auto;
  -ms-interpolation-mode: nearest-neighbor;
}

li {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

a:focus {
  outline: none;
}

.wrapper {
  width: 100%;
  height: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.layout-content {
  width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .layout-content {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }
  #메인 main {
    height: auto;
    padding: 40px 0;
  }
  #메인 main div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  address {
    font-size: 16px;
  }
  #목차 .bg {
    height: 100%;
  }
  #목차 main {
    width: 100%;
    height: 100%;
    padding: 0;
    display: block;
  }
  #목차 main .pdf {
    padding: 0 5%;
    border: none;
    border-bottom: 10px solid white;
  }
  #목차 main .pdf .main-image {
    padding-bottom: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #목차 main .list {
    padding: 0 5%;
  }
  #목차 main .list .swiper-wrapper {
    width: 100%;
    height: 100%;
    padding-right: 24px;
    padding-bottom: 50px;
  }
  #목차 main .list .swiper-wrapper .chapter {
    font-size: 26px;
  }
  #목차 main .list .swiper-wrapper .title {
    font-size: 19px;
  }
  #목차 main .list .swiper-wrapper .sub-title {
    font-size: 14px;
  }
  #목차 main .list .swiper-wrapper .badge {
    font-size: 12px;
  }
  #목차 main .list #slick-next {
    right: 10px;
  }
  #목차 main .main-title {
    height: 70px;
  }
  #상세 .image.image-lg img {
    max-width: 100%;
  }
  #상세 .image.image-md img {
    max-width: 70%;
  }
  #상세 .image.image-small img {
    max-width: 50%;
  }
}

@media (max-width: 900px) {
  footer {
    min-height: 100px;
  }
  address {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  section {
    padding: 40px 0;
  }
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .row .block + .block {
    margin-top: 50px;
  }
  .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .sns span img {
    margin-top: 10px;
    width: 28px;
  }
  #메인 section .row + .row {
    margin-top: 50px;
  }
  #메인 section .block {
    width: auto;
  }
  #상세 .image.image-md img {
    max-width: 80%;
  }
  #상세 .image.image-small img {
    max-width: 60%;
  }
  footer {
    min-height: 180px;
    padding: 20px 0;
  }
  footer > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10px;
    margin-left: 0;
    width: 100%;
  }
  .sns a img {
    width: 30px;
  }
}

@media (max-width: 600px) {
  header > div .header .title a img {
    width: 350px;
  }
  #menu.open {
    max-width: 600px;
  }
  #메인 main > div .book-desc p {
    font-size: 22px;
  }
  #상세 .title,
  #상세 .돋보기타이틀 {
    font-size: 35px;
  }
  #상세 .box-number {
    width: 46px;
    height: 46px;
  }
  #상세 .image.image-md img {
    max-width: 100%;
  }
  #상세 .image.image-small img {
    max-width: 80%;
  }
}

@media (max-width: 450px) {
  header > div .header .title a img {
    width: 100%;
  }
  header > div .header button {
    min-width: 32px;
    margin-left: 10px;
  }
  #menu {
    height: 350px;
    top: 112px;
  }
  #menu a {
    font-size: 18px;
  }
  #메인 main > div .book-title strong {
    font-size: 26px;
  }
  #메인 main > div .book-title p {
    font-size: 35px;
  }
  #메인 main > div .book-desc p {
    font-size: 15px;
  }
  #상세 .title,
  #상세 .돋보기타이틀 {
    font-size: 32px;
  }
  #상세 .box-number {
    width: 38px;
    height: 38px;
  }
}
