$light-color: #ffffff;
$font-stack: "KoPub Dotum", sans-serif;
$primary-color: #2db5cc;
$dark-color: #2c2b2c;
$menu-text-color: #005ba0;
$light-blue: #0098b6;

.text-brown {
  color: #a55536;
}

.text-blue {
  color: $menu-text-color;
}

.text-light-blue {
  color: $light-blue;
}

.caption01 {
  font-size: 19px;
  p {
    font-size: 19px !important;
  }
}

.caption02 {
  font-size: 15px;
}

.text-center {
  text-align: center !important;
  margin: 0 auto;
  img {
    max-width: 100%;
  }
}
