#상세 {
  .chapter-title {
    width: 100%;
    background-color: $menu-text-color;
    color: white;
    > div {
      text-align: right;
    }
  }
  .title {
    padding: 72px 0;
    font-size: 40px;
    position: relative;
    text-align: center;
    word-break: keep-all;
    &:after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 200px;
      height: 10px;
      transform: translateX(-50%);
      background-color: #e2ddd9;
    }
  }
  .title-desc {
    margin: 70px 0;
    text-align: center;
    p {
      margin: 0;
      word-break: keep-all;
    }
    p + p {
      margin-top: 8px;
    }
    .caption02 {
      margin-top: 18px;
      word-break: keep-all;
    }
  }
  .box-number {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding-top: 2px;
    background: $menu-text-color;
    color: white;
  }
  .image {
    &.image-full-width {
      text-align: center;
      img {
        width: auto;
        height: auto;
        max-width: 100%;
      }
    }
    &.image-lg {
      text-align: center;
      img {
        width: auto;
        height: auto;
        max-width: 80%;
      }
    }
    &.image-md {
      text-align: center;
      img {
        width: auto;
        height: auto;
        max-width: 50%;
      }
    }
    &.image-sm {
      text-align: center;
      img {
        width: auto;
        height: auto;
        max-width: 30%;
      }
    }
  }
  /* 컨텐츠 문장 문단 스타일*/
  .layout-content > p {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 32px;
    text-align: justify;
  }
  .돋보기 {
    margin-top: 60px;
    width: 100%;
    background: $light-blue;
    text-align: center;
    color: white;
  }
  .돋보기타이틀 {
    margin: 60px 0 70px 0;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: $light-blue;
  }
  .돋보기설명 {
    position: relative;
    padding-top: 40px;
    p {
      margin: 0;
      text-align: center;
    }
    .caption01 {
      margin-top: 8px;
    }
    .caption02 {
      margin-top: 18px;
    }
    &:before {
      content: "";
      position: absolute;
      left: 50%;
      top: 0;
      width: 100px;
      height: 1px;
      background: black;
      transform: translateX(-50%);
    }
  }
  .돋보기소제목 {
    margin: 40px 0 20px 0;
    color: $menu-text-color;
    font-weight: bold;
  }
  .article-footer {
    margin-top: 60px;
    width: 100%;
    height: 60px;
    position: relative;
    a {
      display: flex;
      align-items: center;
      position: absolute;
      bottom: 20px;
      height: 30px;
      color: #d3d3d4;
      font-size: 16px;
      &:hover {
        color: darken(#d3d3d4, 10%);
      }
      &.이전글 {
        left: 0px;
      }
      &.다음글 {
        right: 0px;
      }
    }
    img {
      width: 20px;
      margin-bottom: 1px;
    }
  }
}
