footer {
  width: 100%;
  min-height: 70px;
  height: 70px;
  background-color: $dark-color;
  z-index: 10;
  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
}
.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin-left: 20px;
}
address {
  font-size: 16px;
  font-style: normal;
  color: white;
}

.sns {
  display: flex;
  a {
    img {
      width: 36px;
    }
    & + a {
      margin-left: 15px;
    }
  }
}
