#메인 {
  main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    background-color: $primary-color;
    > div {
      display: flex;
      height: 100%;
      div {
        flex: 1;
      }
      .book-cover {
        display: flex;
        align-items: center;
        img {
          max-width: 100%;
        }
      }
      .book-info {
        padding-top: 100px;
        text-align: right;
      }
      .book-title {
        margin-bottom: 50px;
        color: white;
        strong {
          font-size: 36px;
        }
        p {
          margin: 0;
          font-size: 50px;
          line-height: 1;
          letter-spacing: -2px;
        }
      }
      .book-desc p {
        font-size: 24px;
        letter-spacing: -1px;
      }
    }
  }

  section {
    padding: 90px 0;
    .row {
      display: flex;
      justify-content: space-between;
      & + .row {
        margin-top: 62px;
      }
    }
    .block {
      width: 32%;
      font-size: 20px;
      a {
        display: block;
        color: $dark-color;
        font-weight: bold;
        img {
          width: 100%;
        }
      }
    }
  }
}
