@media (max-width: 1200px) {
  .layout-content {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }
  #메인 {
    main {
      height: auto;
      padding: 40px 0;
      div {
        flex-direction: column;
      }
    }
  }
  address {
    font-size: 16px;
  }
  #목차 {
    // height: 1000px;
    .bg {
      height: 100%;
    }
    main {
      width: 100%;
      height: 100%;
      padding: 0;
      display: block;
      .pdf {
        padding: 0 5%;
        border: none;
        border-bottom: 10px solid white;
        .main-image {
          padding-bottom: 40px;
          justify-content: center;
        }
      }
      .list {
        padding: 0 5%;
        .swiper-wrapper {
          width: 100%;
          height: 100%;
          padding-right: 24px;
          padding-bottom: 50px;
          .chapter {
            font-size: 26px;
          }
          .title {
            font-size: 19px;
          }
          .sub-title {
            font-size: 14px;
          }
          .badge {
            font-size: 12px;
          }
        }
        #slick-next {
          right: 10px;
        }
      }
      .main-title {
        height: 70px;
      }
    }
  }

  #상세 {
    .image {
      &.image-lg img {
        max-width: 100%;
      }
      &.image-md img {
        max-width: 70%;
      }
      &.image-small img {
        max-width: 50%;
      }
    }
  }
}

@media (max-width: 900px) {
  footer {
    min-height: 100px;
  }
  address {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  section {
    padding: 40px 0;
  }
  .row {
    flex-direction: column;
    .block + .block {
      margin-top: 50px;
    }
  }
  .info {
    flex-direction: column;
    align-items: flex-start;
  }
  .sns span img {
    margin-top: 10px;
    width: 28px;
  }
  #메인 section {
    .row + .row {
      margin-top: 50px;
    }
    .block {
      width: auto;
    }
  }
  #상세 {
    .image {
      &.image-md img {
        max-width: 80%;
      }
      &.image-small img {
        max-width: 60%;
      }
    }
  }
  footer {
    min-height: 180px;
    padding: 20px 0;
  }
  footer > div {
    flex-direction: column;
  }
  .info {
    align-items: center;
    margin-top: 10px;
    margin-left: 0;
    width: 100%;
  }
  .sns a img {
    width: 30px;
  }
}

@media (max-width: 600px) {
  header > div .header .title a img {
    width: 350px;
  }
  #menu.open {
    max-width: 600px;
  }
  #메인 main > div .book-desc p {
    font-size: 22px;
  }
  #상세 {
    .title,
    .돋보기타이틀 {
      font-size: 35px;
    }
    .box-number {
      width: 46px;
      height: 46px;
    }
    .image {
      &.image-md img {
        max-width: 100%;
      }
      &.image-small img {
        max-width: 80%;
      }
    }
  }
}

@media (max-width: 450px) {
  header > div .header {
    .title a img {
      width: 100%;
    }
    button {
      min-width: 32px;
      margin-left: 10px;
    }
  }
  #menu {
    height: 350px;
    top: 112px;
    a {
      font-size: 18px;
    }
  }
  #메인 main > div {
    .book-title {
      strong {
        font-size: 26px;
      }
      p {
        font-size: 35px;
      }
    }
    .book-desc p {
      font-size: 15px;
    }
  }
  #상세 {
    .title,
    .돋보기타이틀 {
      font-size: 32px;
    }
    .box-number {
      width: 38px;
      height: 38px;
    }
  }
}
